@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main, .container-dimsp {
  max-width: 1110px;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: #000;
  text-decoration: none;
}

.burger-btn {
  display: none;
  margin-left: auto;
  margin-right: 24px;
}

.burger:before,
.burger:after,
.burger span {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0;
  width: 35px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dimsp-link {
  color: #fff;
  text-decoration: none;
}

.dimsp-link_font-litle {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.dimsp-link_font-contact {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.dimsp-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.dimsp-title_center {
  text-align: center;
}

.dimsp-title_margin-top38 {
  margin-top: 38px;
}

.dimsp-title_margin-top70 {
  margin-top: 70px;
}

.dimsp-title_margin-top62 {
  margin-top: 62px;
}

.dimsp-title_upper {
  text-transform: uppercase;
}

.dimsp-title_max-width445 {
  max-width: 445px;
}

.sub-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 27px;
  text-align: center;
}

.button-dimsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #7FFFD4;
  border-radius: 5px;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.button-dimsp_max-width255 {
  max-width: 255px;
}

.button-dimsp_width255 {
  width: 255px;
}

.button-dimsp_height36 {
  height: 36px;
}

.button-dimsp_social {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.button-dimsp_center {
  margin: 0 auto;
}

.button-dimsp_hover:hover {
  background-color: #00b6af;
  color: #fff;
}

header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  list-style: none;
}

.nav-item {
  margin-right: 11px;
}

.nav-item:last-child {
  margin-right: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-logo {
  margin: 33px auto 0;
}

.hero-description {
  max-width: 791px;
  margin: 86px auto 0;
}

.hero-text {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 82px;
}

.about-us:nth-child(odd) .about-us-body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us:nth-child(odd) .about-us-text {
  margin-left: auto;
}

.about-us:nth-child(odd) .about-us-avatar {
  margin-right: auto;
}

.about-us-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 92px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-us-lists {
  max-width: 534px;
  padding-left: 26px;
  margin-top: 29px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.about-us-avatar {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 443px;
  max-height: 514px;
}

.about-us-description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-body {
  width: 540px;
  margin-top: 47px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.sub-info-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 380px;
}

.about-us-sub-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 126px;
}

.sub-info-text {
  padding-left: 4px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.sub-info-round {
  min-width: 60px;
  min-height: 60px;
  background: #00b6af;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.slider-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  margin-top: 112px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide-img {
  max-width: 349px;
  max-height: 411px;
  margin-right: 30px;
}

.swiper-slide-text {
  max-width: 530px;
}

.swiper-slide-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.swiper-slide-profession {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin: 19px 0 48px;
  max-width: 445px;
}

.swiper-slide-descr {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.swiper-pagination {
  margin-top: 53px;
}

.swiper-pagination-bullet {
  background: #000 !important;
  width: 15px !important;
  height: 15px !important;
}

.we-in-social {
  margin-bottom: 92px;
}

.we-in-social__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 92px auto 0;
}

.we-in-social__icons {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.we-in-social__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 52px;
}

.we-in-social__text .social-text__main {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.we-in-social__text .social-text__sub {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item {
  margin-left: 30px;
}

footer {
  background: #000;
  height: 210px;
  padding: 16px;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  width: 179px;
  height: 177px;
}

.footer-info,
.footer-curses {
  max-width: 162px;
  list-style: none;
  margin-top: 12px;
}

.footer-info__title,
.footer-curses__title {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 11px;
}

.footer-curse, .footer-info-list {
  margin-bottom: 11px;
}

.footer-contact {
  max-width: 300px;
}

.contacts-email, .contacts-phone {
  margin-bottom: 21px;
}

.therapies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 159px;
}

.therapie-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 350px;
  padding-bottom: 12px;
}

.therapie-img {
  margin-bottom: auto;
  width: 350px;
}

.therapie-title, .therapie-time, .therapie-cost {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 21px;
  text-align: center;
}

.therapie-title {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 28px;
}

.individual, .couple, .supervision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-img, .couple-img, .supervision-img {
  width: 544px;
  margin: 25px 0 88px;
}

.individual-descr, .couple-descr, .supervision-descr {
  width: 920px;
  margin-bottom: 18px;
}

.individual-descr__title, .couple-descr__title, .supervision-descr__title {
  height: 45px;
  background: #7FFFD4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.individual-descr__title i, .couple-descr__title i, .supervision-descr__title i {
  margin-left: auto;
  margin-right: 25px;
  font-size: 36px;
  padding-bottom: 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.individual-descr__title .rotate-arrow, .couple-descr__title .rotate-arrow, .supervision-descr__title .rotate-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.individual-descr__text, .couple-descr__text, .supervision-descr__text {
  margin-left: 15px;
}

.individual-descr__sub-text, .couple-descr__sub-text, .supervision-descr__sub-text {
  background: rgba(191, 160, 151, 0.3);
  padding: 18px 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border-radius: 0 0 5px 5px;
}

.ancors-therapies {
  margin: 50px 0;
}

.diploma-and-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 43px;
}

.average-block-imgs, .big-block-imgs, .large-block-imgs, .small-block-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 63px;
}

.block-img {
  margin-right: 30px;
}

.block-img:last-child {
  margin-right: 0;
}

.average-block-imgs .block-img {
  width: 540px;
  height: 511px;
}

.big-block-imgs .block-img {
  width: 730px;
  height: 730px;
}

.small-block-imgs .block-img {
  width: 350px;
  height: 360px;
}

.large-block-imgs .block-img {
  width: 920px;
  height: 730px;
}

.news-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-block {
  max-width: 920px;
}

.news-block {
  margin: 62px auto 0;
}

.news-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.news-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin: 47px 0;
}

.news-date {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.news-paginations {
  margin: 65px 0 0 95px;
}

.dimsp-paginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.dimsp-pagination-btn {
  width: 30px;
  height: 30px;
  background: #7FFFD4;
  border-radius: 5px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dimsp-pagination-btn:last-child {
  margin-right: 0;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.contact-info__map iframe {
  max-width: 500px;
  height: 300px;
}

.contact-info__text {
  max-width: 450px;
  margin: auto 0;
  padding: 12px;
}

.text-lists {
  list-style: none;
}

.text-list {
  margin: 0 0 12px;
}

.time-work-disp__title {
  font-size: 22px;
}

.contact-form {
  margin: 24px 0;
}

.contact-form__title {
  font-weight: 400;
  text-align: right;
  max-width: 400px;
  margin-left: auto;
}

.contact-form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-form__body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 302px;
}

.contact-form__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__img img {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.input-form-disp, .textarea-form-disp {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 12px;
}

.label-disp {
  margin-bottom: 12px;
  font-weight: 300;
}

.textarea-form-disp {
  max-width: 302px;
  height: 150px;
  resize: none;
}

@media (max-width: 1150px) {
  main, .container-dimsp {
    max-width: 710px;
  }
  footer {
    height: auto;
  }
  .container-dimsp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us-body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 42px;
  }
  .about-us-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about-us-lists {
    margin: 29px auto;
    padding-left: 90px;
  }
  .dimsp-title {
    text-align: center;
  }
  .about-us-avatar {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about-us-description {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .description-body {
    margin-top: 22px;
  }
  .about-us-sub-info {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sub-info-lists {
    margin-bottom: 24px;
  }
  .sub-info-lists:last-child {
    margin-bottom: 0;
  }
  .about-us:nth-child(odd) .about-us-avatar {
    margin: auto;
  }
  .slider-body {
    margin-top: 64px;
  }
  .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .swiper-slide-img {
    margin-right: 0;
  }
  .swiper-slide-name {
    text-align: center;
    margin: 12px 0;
  }
  .swiper-slide-profession {
    margin: 18px auto;
    text-align: center;
  }
  .swiper-slide-text {
    padding-bottom: 90px;
    max-width: 100%;
  }
  .swiper-slide-descr {
    text-align: center;
  }
  .we-in-social__body {
    margin-top: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .we-in-social__text {
    text-align: center;
    margin-top: 12px;
  }
  .social-icons {
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .therapies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 70px;
  }
  .individual-img {
    margin-bottom: 44px;
  }
  .individual-descr, .couple-descr, .supervision-descr {
    width: 100%;
  }
  .individual-descr__title, .couple-descr__title, .supervision-descr__title {
    height: 64px;
  }
  .individual-descr__title i, .couple-descr__title i, .supervision-descr__title i {
    margin-right: 10px;
  }
  .average-block-imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block-img {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .small-block-imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .small-block-imgs .block-img {
    margin-right: 10px;
  }
  .small-block-imgs .block-img:last-child {
    margin-right: 0;
  }
}

@media (max-width: 720px) {
  main {
    max-width: 325px;
  }
  nav {
    margin-left: auto;
    margin-right: 24px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dimsp-title {
    font-size: 46px;
  }
  .dimsp-title_margin-top70 {
    margin-top: 34px;
  }
  .burger-btn {
    display: block;
  }
  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    text-align: right;
  }
  .nav-item {
    padding: 12px 0;
    border-top: 1px solid #fff;
    width: 100%;
  }
  .nav-item:last-child {
    margin-right: 12px;
  }
  .hide-menu {
    display: none;
  }
  .hero-description {
    margin-top: 20px;
  }
  .about-us {
    margin-top: 40px;
  }
  .about-us-avatar {
    max-width: 100%;
    max-height: 100%;
  }
  .about-us-lists {
    padding-left: 22px;
    font-size: 18px;
    line-height: 24px;
  }
  .description-body {
    width: 100%;
  }
  .swiper-slide-text {
    padding-bottom: 52px;
  }
  .footer-logo {
    margin: auto;
  }
  .footer-info {
    margin-left: 6px;
  }
  .average-block-imgs, .big-block-imgs, .small-block-imgs, .large-block-imgs {
    margin-bottom: 12px;
  }
  .average-block-imgs .block-img, .big-block-imgs .block-img, .small-block-imgs .block-img, .large-block-imgs .block-img {
    width: 100%;
    height: 100%;
  }
  .small-block-imgs .block-img {
    margin-bottom: 12px;
    margin-right: 0;
  }
  .small-block-imgs .block-img:last-child {
    margin-bottom: 12px;
  }
  .contact-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-form__img, .contact-form form {
    margin-top: 12px;
  }
  .contact-form__title {
    text-align: center;
  }
}
